.chat-users,
.chat-statistic {
    margin-left: 0px;
}

.selected {
    background: #e4e4e4;
}

.chat-message-form {
    // margin-top: 20px;
}
.chat-form-row {
    margin: 0px;
}
.col-chat-txt {
    padding-right: 0px;
}
.col-chat-btn {
    padding-left: 0px;
}
.chat-send-btn {
    height: 90px;
    width: 100%;
}